@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Raleway&display=swap');

:root{
    --main-blue: #0065FC;
    --main-blue-light: #DEEBFF;
    --main-grey: #D9D9D9;
    --main-grey-light: #F2F2F2;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
}
body{
    max-width: 1400px;
    margin: 0 50px;
    background-color: #FFFFFF;
}

.hidden{
    display: none;
}
h1{
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}
h2{
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}
h3{
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}
ul{
    list-style: none;
}
a{
    color: #000000;
}
a:visited{
    color: #000000;
}
button{
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}
button:hover{
    cursor: pointer;
}
.fa-star{
    font-size: 12px;
}
.blue{
    color: var(--main-blue);
}
.grey{
    color: var(--main-grey);
}

/* DEBUT DE HEADER */
header{
    margin-bottom: 20px;
}

nav{
    height: 120px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
#booki_logo img{
    width: 61px;
    height: 19px;
}
#links_wrapper{
    height: 100%;
    display: flex;
    align-items: center;
}
#links_wrapper a{
    height: 100%;
    padding: 0 25px;
    display: flex;
    align-items: center;
    color: #000000;
    border-top: 2px solid transparent;
}
#links_wrapper a:hover{
    color: var(--main-blue);
    border-top: 2px solid var(--main-blue);
}

#welcome_title h1{
    margin-bottom: 10px;
}
/* FIN DE HEADER */

/* DEBUT DE SEARCH_MENU */
#search_menu{
    height: 50px;
    width: 430px;
    margin-bottom: 30px;
    position: relative;
    display: flex;
    align-items: center;
    background-color: var(--main-grey);
    border-radius: 20px;
    overflow: hidden;
}
#search_menu .fa-location-dot{
    padding: 0 20px;
    font-size: 18px;
}
#search_input{
    height: 95%;
    padding-left: 10px;
    flex-grow: 1;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    border: none;
    outline: none;
}
#search_input::placeholder{
    color: #000000;
}
#search_menu_submit{
    height: 100%;
    width: 130px;
    background-color: var(--main-blue);
    border: none;
}
#search_menu_submit:hover, #search_menu h2:hover{
    cursor: pointer;
}
#search_menu h2{
    position: absolute;
    right: 20px;
    color: #ffffff;
}
/* FIN DE SEARCH_MENU */

/* DEBUT DE FILTERS */
#filters{
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    gap: 3%;
}
#filters ul{
    display: flex;
    gap: 3%;
}
.filter_btn{
    padding: 15px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #ffffff;
    border: 2px solid var(--main-grey);
    border-radius: 25px;
    white-space:nowrap;
}
.filter_btn:hover{
    background-color: var(--main-blue-light);
}
#filters i{
    font-size: 16px;
}
/* FIN DE FILTERS */

#informations{
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    gap: 10px;
}
#informations div{
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--main-grey);
    border-radius: 50%;
    font-size: 10px;
}



/* DEBUT MAIN */
main{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.radius_grey{
    margin-bottom: 40px;
    padding: 40px;
    background-color: var(--main-grey-light);
    border-radius: 20px;
    box-sizing: border-box;
}
.card{
    height: 100%;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 20px;
    color: #000000;
    box-shadow: 0 5px 5px var(--main-grey);
}
.card_img_wrapper{
    background-size: cover;
    overflow: hidden;
}
.card_text_wrapper{
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2px; 
}
.card_text_wrapper h2{
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}
.card img{
    min-height: 100%;
    max-height: 120%;
    min-width: 100%;
    max-width: 120%;
    object-fit:cover;
}
.card > *:not(.card_img_wrapper){
    display: flex;
}

/* DEBUT DE HEBERGEMENTS */
#hebergements{
    width: 64%;
}
#hebergements h1{
    margin-bottom: 20px;
}
#hebergements_cards_wrapper{
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-auto-rows: 200px;
    gap: 30px 5%;
}
.vertical_card{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 60% 30% 10%;
}
.vertical_card .card_img_wrapper{
    border-radius: 20px 20px 0 0;
}
.vertical_card > *:not(.card_img_wrapper){
    padding-left: 10px;
}
#afficher_plus_btn{
    border: none;
    background-color: transparent;
    cursor: pointer;
}
/* FIN DE HEBERGEMENT */

/* DEBUT DE POPULAIRES */
#populaires{
    width: 34%;
}
#populaires_title{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#populaires_title i{
    font-size: 15px;
}
#populaires_cards_wrapper{
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: 150px;
    gap: 30px;
}
.horizontal_card{
    height: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 70% 30%;
}
.horizontal_card .card_img_wrapper{
    grid-area: 1 / 1 / 3 / 2;
    border-radius: 20px 0 0 20px;
}
.horizontal_card .card_text_wrapper{
   gap: 7px;
}
.horizontal_card .card_stars_wrapper{
    grid-area: 2 / 2 / 3 / 3;
}
.horizontal_card > *:not(.card_img_wrapper){
    padding-left: 15px;
}
/* FIN DE POPULAIRES */

/* DEBUT DE ACTIVITE */
#activites{
    margin-bottom: 40px;
}
#activites h1{
    margin-bottom: 20px;
}
#activites_cards_wrapper{
    display: grid;
    grid-template-columns: repeat(4, 22%);
    grid-auto-rows: 440px;
    gap: 30px 4%;
}
.simple_card{
    display: flex;
    flex-direction: column;
}
.simple_card .card_img_wrapper{
    height: 90%;
    border-radius: 20px 20px 0 0;
}
.simple_card h2{
    padding: 10px 0 0 20px;
    flex-grow: 1;
}
/* FIN DE ACTIVITE */

/* DEBUT DE FOOTER */
footer{
    padding: 45px 70px;
    display: flex;
    background-color: var(--main-grey-light);
}
footer > *{
    flex-grow: 1;
}
footer h2{
    margin-bottom: 20px;
}
footer ul{
    line-height: 2em;
}
/* FIN DE FOOTER */

@media screen and (max-width:  991px) and (min-width: 768px){
    #filters ul{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
    #hebergements{
        width: 100%;
        margin-bottom: 50px;
    }
    .vertical_card h2{
        font-size: 16px;
        line-height: 19px;
    }
    .vertical_card p{
        font-size: 14px;
        line-height: 16px;
    }
    #populaires{
        width: 100%;
    }
    #populaires_cards_wrapper{
        grid-template-columns: repeat(3, 30%);
        grid-auto-rows: 150px;
        gap: 30px 5%;
    }
    .horizontal_card h2{
        font-size: 14px;
        line-height: 16px;
    }
    .horizontal_card p{
        font-size: 13px;
        line-height: 15px;
    }
    #activites_cards_wrapper{
        grid-auto-rows: 270px;
    }
    .simple_card .card_img_wrapper{
        height: 80%;
    }
    .simple_card h2{
        font-size: 16px;
        line-height: 19px;
    }
}

@media screen and (max-width: 767px){
    body{
        width: 100vw;
        margin: 0;
        display: flex;
        flex-direction: column;
    }
    h1{
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
    }
    h2{
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
    }

    nav{
        margin: 20px 0 30px 0;
        flex-direction: column;
        justify-content: center;
    }
    #booki_logo{
        margin-bottom: 25px;
    }
    #links_wrapper{
        height: 50px;
        width: 100%;
    }
    #links_wrapper a{
        width: 50%;
        justify-content: center;
        border-top: none;
        border-bottom: 3px solid transparent;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
    }
    #links_wrapper a:hover{
        border-bottom: 3px solid var(--main-blue);
        border-top: none;
    }
    #welcome_title{
        padding: 0 20px;
        margin-bottom: 35px;
    }
    #welcome_title h1{
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
    }
    #welcome_title h3{
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
    }

    #search_menu{
        width: auto;
        margin: 0 20px 20px;
        background-color: var(--main-grey-light);
    }
    #search_menu h2{
        display: none;
    }
    #search_menu .fa-magnifying-glass{
        display: block;
        position: absolute;
        right: 17px;
        color: #ffffff;
        font-size: 16px;
    }
    #search_menu_submit{
        width: 50px;
    }

    #filters{
        padding: 0 20px;
        margin-bottom: 40px;
        flex-direction: column;
        gap: 15px;
    }
    #filters h2{
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        align-self: flex-start;
    }
    #filters ul{
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 15px;
    }
    #filters ul li{
        width: 47%;
    }
    .filter_btn{
        width: 100%;
        padding: 15px 15px;
        font-weight: 700;
        font-size: 11px;
        line-height: 13px;
        justify-content: start;
        gap: 5px;
    }

    #informations{
        padding: 0 20px;
        margin-bottom: 20px;
    }
    #information h3{
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
    }


    .radius_grey{
        padding: 0;
        border-radius: 0;
    }
    .card p{
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
    }
    


    #populaires{
        width: 100%;
        padding: 30px 20px 50px;
        order: 1;
        margin: 0;
    }
    .horizontal_card h1, .horizontal_card h2{
        padding-top: 10px;
    }


    #hebergements{
        width: 100%;
        padding: 25px 20px 100px;
        order: 2;
        background-color: #FFFFFF;
    }
    #hebergements_cards_wrapper{
        grid-template-columns: 100%;
        grid-auto-rows: 200px;
    }
    .vertical_card{
        width: 100%;
        justify-self: center;
    }
    #afficher_plus_btn{
        display: none;
    }

    #activites{
        padding: 0 20px 80px;
    }
    #activites_cards_wrapper{
        grid-template-columns: 100%;
        grid-auto-rows: 200px;
    }
    .simple_card{
        width: 100%;
    }
    .simple_card .card_img_wrapper{
        height: 70%;
    }

    footer{
        flex-direction: column;
        padding: 45px 30px 60px;
        gap: 40px;
    }
    footer h2{
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
    }
    footer li{
        margin-bottom: 12px;
    }
    footer a{
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
    }
    
}