@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Raleway&display=swap');

:root{
    --main-blue: #0065FC;
    --main-blue-light: #DEEBFF;
    --main-grey: #D9D9D9;
    --main-grey-light: #F2F2F2;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    list-style: none;
}
body{
    max-width: 1400px;
    margin: 0 50px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
}

/* GLOBAL */

h2, button, #search_input{
    
}
h3{
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

button:hover, #search_menu_submit:hover, #search_menu h2:hover, #afficher_plus_btn:hover{
    cursor: pointer;
}
.blue{
    color: var(--main-blue);
}
.grey{
    color: var(--main-grey);
}

.fa-star{
    font-size: 12px;
}


/* GLOBAL */
.font-bolder {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}
.font-bold {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}
.font-medium{
    font-weight: 700;
    font-size: 16px;
    line-height: 19px; 
}
.font-small {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}
.font-smaller{
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}


.hidden {
    display: none;
}
a, a:visited {
    color: #000000;
}


.btn {
    display: flex;
    align-items: center;
    background-color: transparent;
    white-space:nowrap;
}


.title {
    margin-bottom: 20px;
}


/*a*/.hover__border-top {
    border-top: 2px solid transparent;
}
/*a*/.hover__border-top:hover {
    color: var(--main-blue);
    border-top: 2px solid var(--main-blue);
}





/* HEADER */
.header__nav {
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__logo-booki {
    width: 61px;
    height: 19px;
}
.nav__links-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
}
.nav__link {
    height: 100%;
    padding: 0 25px;
    display: flex;
    align-items: center;
}


.header__title {
    display: flex;
    flex-direction: column;
    gap: 12px;
}





/* SEARCH_MENU */
.search-menu {
    height: 50px;
    width: 430px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    background-color: var(--main-grey);
    border-radius: 20px;
    overflow: hidden;
}


.search-menu__left-part {
    height: 100%;
    width: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.search-menu__input {
    height: 95%;
    padding-left: 10px;
    flex-grow: 1;
    border: none;
    outline: none;
}
.search-menu__input::placeholder {
    color: #000000;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}


.search-menu__right-part {
    height: 100%;
    width: 130px;
    position: relative;
}
.search-menu__right-part--submit {
    height: 100%;
    width: 100%;
    border: none;
    background-color: var(--main-blue);
    cursor: pointer;
}
.search-menu__right-part--text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    cursor: pointer;
}





/* FILTERS */
.filters {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    gap: 20px 50px;
}

.filters__btn-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.filters__btn {
    padding: 15px 20px;
    gap: 10px;
    border: 2px solid var(--main-grey);
    border-radius: 25px;
}
.filters__btn:hover {
    background-color: var(--main-blue-light);
}
.filters__btn > i {
    color: var(--main-blue);
}





/* INFORMATIONS */
.informations {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.informations__logo-wrapper {
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-blue);
    border: 1px solid var(--main-grey);
    border-radius: 50%;
    font-size: 10px;
}





/* MAIN */
main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.article__wrapper {
    margin-bottom: 40px;
    padding: 40px;
    background-color: var(--main-grey-light);
    border-radius: 20px;
    box-sizing: border-box;
}
.card {
    height: 100%;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 20px;
    /* color: #000000; */
    box-shadow: 0 5px 4px var(--main-grey);
}
.card__img-wrapper {
    overflow: hidden;
}
.card__text-wrapper {
    padding-top: 4px;;
    display: flex;
    flex-direction: column;
}
.card__img {
    height: 140px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.card__stars-wrapper {
    padding-left: 10px;
    justify-self: flex-end;
    display: flex;
    gap: 2px;
}
.star--1-point {
    color: var(--main-blue);
}
.star--no-point {
    color: var(--main-grey);
}





/* HEBERGEMENTS */
.hebergements {
    width: 63%;
}


.hebergements__cards-wrapper {
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-auto-rows: 200px;
    gap: 30px 5%;
}
.hebergement__card {
    display: flex;
    flex-direction: column;
}
.hebergement__card--img-wrapper {
    height: 60%;
    border-radius: 20px 20px 0 0;
}
.hebergements__card--img {
    height: 120px;
}
.hebergement__card--text-wrapper {
    height: 30%;
    padding-left: 10px;
}


.hebergements__btn {
    border: none;
}





/* POPULAIRES */
.populaires {
    width: 33%;
}
.populaires__title {
    display: flex;
    justify-content: space-between;
}
.fa-chart-line {
    font-size: 18px;
    color: var(--main-blue);
}


.populaires__cards-wrapper {
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: 150px;
    gap: 30px;
}
.populaires__card {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 80% 20%;
}
.populaires__card--img-wrapper {
    grid-area: 1 / 1 / 3 / 2;
    border-radius: 20px 0 0 20px;
}
.populaire__card--img {
    height: 140px;
}
.populaires__card--text-wrapper, .populaires__card--stars-wrapper {
    padding-left: 15px;
    justify-self: start;
    gap: 7px;
}





/* ACTIVITES */
.activites{
    margin-bottom: 40px;
}


.activites__card{
    padding: 0;
}
.activites__card-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 22%);
    grid-auto-rows: 440px;
    gap: 30px 4%;
}
.activites__card {
    display: flex;
    flex-direction: column;
}
.activites__card--img-wrapper {
    height: 80%;
    border-radius: 20px 20px 0 0;
}
.activites__card--img {
    height: 380px;
}
.activites__card--text-wrapper {
    padding-left: 20px;
    flex-grow: 1;
    justify-content: center;
}





/* FOOTER */
footer {
    padding: 45px 70px;
    display: flex;
    background-color: var(--main-grey-light);
}
.footer__section {
    flex-grow: 1;
}
.footer__section--list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}





/* VERSION TABLETTE */
@media screen and (max-width:  991px) and (min-width: 768px){
    #filters ul{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    #hebergements{
        width: 100%;
        margin-bottom: 50px;
    }
    .vertical_card h2{
        font-size: 16px;
        line-height: 19px;
    }
    .vertical_card p{
        font-size: 14px;
        line-height: 16px;
    }

    #populaires{
        width: 100%;
    }
    #populaires_cards_wrapper{
        grid-template-columns: repeat(3, 30%);
        grid-auto-rows: 150px;
        gap: 30px 5%;
    }
    .horizontal_card h2{
        font-size: 14px;
        line-height: 16px;
    }
    .horizontal_card p{
        font-size: 13px;
        line-height: 15px;
    }

    #activites_cards_wrapper{
        grid-auto-rows: 270px;
    }
    .simple_card .card_img_wrapper{
        height: 80%;
    }
    .simple_card h2{
        font-size: 16px;
        line-height: 19px;
    }
}

/* VERSION MOBILE */
@media screen and (max-width: 767px){

/* MOBILE GLOBAL */
    body{
        margin: 0;
    }
    h1{
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
    }
    h2{
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
    }
    h3, footer a{
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
    }

/* MOBILE NAV */
    nav{
        margin: 20px 0 30px 0;
        flex-direction: column;
        justify-content: center;
    }
    #booki_logo{
        margin-bottom: 25px;
    }
    #links_wrapper{
        height: 50px;
        width: 100%;
    }
    #links_wrapper a{
        width: 50%;
        justify-content: center;
        border-top: none;
        border-bottom: 3px solid transparent;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
    }
    #links_wrapper a:hover{
        border-top: none;
        border-bottom: 3px solid var(--main-blue);
    }
    #welcomme_title{
        padding: 0 20px;
        margin-bottom: 35px;
    }

/* MOBILE SEARCH_MENU */
    #search_menu{
        width: auto;
        margin: 0 20px 20px;
        background-color: var(--main-grey-light);
    }
    #search_menu h2{
        display: none;
    }
    #search_menu .fa-magnifying-glass{
        display: block;
        position: absolute;
        right: 17px;
        color: #ffffff;
        font-size: 16px;
    }
    #search_menu_submit{
        width: 50px;
    }

/* MOBILE FILTERS */
    #filters{
        padding: 0 20px;
        margin-bottom: 40px;
        flex-direction: column;
        gap: 15px;
    }
    #filters h2{
        font-size: 18px;
        line-height: 21px;
        align-self: flex-start;
    }
    #filters ul{
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 15px;
    }
    #filters ul li{
        max-width: 47%;
        min-width: 40%;
    }
    .filter_btn{
        width: 100%;
        padding: 15px 15px;
        font-size: 11px;
        line-height: 13px;
        justify-content: start;
        gap: 5px;
    }

/* MOBILE INFORMATIONS */
    #informations{
        padding: 0 20px;
        margin-bottom: 20px;
    }
    #information h3{
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
    }


/* MOBILE MAIN */
    .radius_grey{
        padding: 0;
        border-radius: 0;
    }

/* MOBILE POPULAIRES */
    #populaires{
        width: 100%;
        padding: 30px 20px 50px;
        order: 1;
        margin: 0;
    }
    .horizontal_card h1, .horizontal_card h2{
        padding-top: 10px;
    }

/* MOBILE HEBERGEMENTS */
    #hebergements{
        width: 100%;
        padding: 25px 20px 100px;
        order: 2;
        background-color: #FFFFFF;
    }
    #hebergements_cards_wrapper{
        grid-template-columns: 100%;
        grid-auto-rows: 200px;
    }
    .vertical_card{
        width: 100%;
        justify-self: center;
    }
    #afficher_plus_btn{
        display: none;
    }

/* MOBILE ACTIVITES */
    #activites{
        padding: 0 20px 80px;
    }
    #activites_cards_wrapper{
        grid-template-columns: 100%;
        grid-auto-rows: 200px;
    }
    .simple_card{
        width: 100%;
    }
    .simple_card .card_img_wrapper{
        height: 70%;
    }
    .simple_card h2{
        margin-top: 11px;
    }

/* MOBILE FOOTER */
    footer{
        flex-direction: column;
        padding: 45px 30px 60px;
        gap: 40px;
    }
    footer h2{
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
    }
    footer li{
        margin-bottom: 12px;
    }
}
