@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    font-family: 'Raleway', sans-serif;
}
body {
    max-width: 1200px;
    margin: auto;
}
a {
    display: block;
    text-decoration: none;
    color: #000;
    cursor: pointer;
}
a:hover {
    color: #000;
}
ul {
    list-style: none;
}
ul, li {
    padding: 0 !important;
}
i {
    font-size: 20px;
}
picture {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0 !important;
    margin: 5px !important;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
@media (width >= 768px) {
    article {
        border-radius: 10px;
    }
}




.header__logo--img {
    height: auto;
    width: 60px;
}
.header__nav--link {
    border-bottom: 3px solid #F2F2F2;
}
.header__nav--link:hover  {
    border-bottom: 3px solid #0065FC;
    color: #0065FC;
}
@media (width >= 768px) {
    .header__nav--link {
        border-bottom: none;
        border-top: 3px solid #F2F2F2;
    }
    .header__nav--link:hover  {
        border-bottom: none;
        border-top: 3px solid #0065FC;
    }
}


.search {
    height: 50px;
}
.search__part--left {
    height: 100%;;
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
}
.search__input {
    height: 42px;
    width: 100%;
    border: none;
}
.search__input::placeholder {
    padding-left: 10px;
    font-weight: 800;
    color: #000;
}
.search__part--right {
    background-color: #0065FC;
    border-radius: 0 15px 15px 0;
}
.search__button {
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
}
@media (width >= 768px) {
    .fa-magnifying-glass {
        display: none !important;
    }
    .search__button--text {
        display: block !important;
        color: #fff;
    }
}






.filtres__btn--wrapper {
    margin-bottom: 10px;
}
.filtres__btn {
    height: 50px;
    background-color: transparent;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    padding-left: 13px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 11px;
    font-weight: 700;
    white-space: nowrap;
} 
.filtres__btn > i {
    color: #0065FC;
}
@media (width >= 768px) {
    .filters__title {
        font-size: 16px;
        align-self: center;
    }
}



.information__icon--wrapper {
    border: 1px solid #D9D9D9;
    border-radius: 100%;
    height: 25px;
    width: 25px;
}
.information__icon {
    color: #0065FC;
    font-size: 12px;
}



.card {
    border-radius: 10px;
    background-color: #fff;
    padding: 5px;
    margin-bottom: 25px;
}
.fa-star {
    font-size: 14px;
}
.fa-solid.fa-star {
    color: #0065FC;
}
.fa-regular.fa-star {
    color: #F2F2F2;
}



.populaires {
    background-color: #F2F2F2;
}
.fa-chart-line {
    color: #0065FC;
}
.populaires__card {
    height: 150px;
}
.populaires__card--picture {
    border-radius: 10px 0 0 10px;
}



.hebergements__card {
    height: 200px;
    flex-direction: column;
}
.hebergements__card--picture {
    border-radius: 10px 10px 0 0;
    height: 60%;
}
@media (width >= 768px) {
    .hebergements {
        background-color: #F2F2F2;
    }
    .hebergement__btn {
        display: block !important;
        border: none;
        background-color: transparent;
    }
}



.activites__card {
    height: 200px;
    padding: 0 !important;
}
.activites__card--picture {
    border-radius: 10px 10px 0 0;
}
@media (width >= 768px) {
    .activites__card {
        height: 250px;
    }
}
@media (width >= 992px) {
    .activites__card {
        height: 400px;
    }
}


footer {
    background-color: #F2F2F2;
}
footer p {
    margin-bottom: 8px;
}
@media (width >= 768px) {
    .footer__title  {
        font-size: 18px;
    }
}
